{% extends "base.html" %}

{% block styling %}
{% endblock %}

{% block content %}
<body class="crypt-dark">

  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="cryptorio-forms cryptorio-forms-dark pt-5 pb-5">
                  <div class="logo">
                  </div>
                  <div class="cryptorio-main-form">
  <h1>Password Reset via Email</h1>

  <form method="post">
    {{ form.csrf_token }}

    <div class="field">
      {{ form.email.label }}
      {{ form.email }}
      {% for error in form.email.errors %}
        <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="field">
      <button class="crypt-button-red-full" type="submit">Submit</button>
    </div>
  </form>
</div>
</div>
          </div>
      </div>
      </div>
</body>

{% endblock %}