{% extends "base.html" %}

{% block styling %}
{% endblock %}

{% block content %}
<body class="crypt-dark">

<div class="container">
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="cryptorio-forms cryptorio-forms-dark pt-5 pb-5">
              <div class="logo">
              </div>
              <div class="cryptorio-main-form">
<div class="form-wrap">
  <h1>Password Reset</h1>

  <form method="post">
    {{ form.csrf_token }}

    <div class="field">
      {{ form.password.label }}
      {{ form.password }}
      {% for error in form.password.errors %}
        <span class="validation-error">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="field">
      <button class="crypt-button-red-full" type="submit">Submit</button>
    </div>
  </form>
</div>
              </div>
          </div>
      </div>
  </div>
</div>
</body>

{% endblock %}