{% extends "base.html" %}

{% block content %}

{% block styling %}

{% endblock %}

<body class="crypt-dark">

    <!-- Main Content -->
    
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="cryptorio-forms cryptorio-forms-dark pt-5 pb-5">
                   
                    <h3 class="p-4">Settings</h3>
                    <div class="cryptorio-main-form">



                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}