aiohttp==3.9.1
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
attrs==23.2.0
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.4.3
distlib==0.3.8
dnspython==2.6.1
email_validator==2.1.1
fanstatic==1.4
filelock==3.13.1
Flask==3.0.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozenlist==1.4.1
greenlet==3.0.3
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
javascript==1!1.1.3
Jinja2==3.1.3
js==1.0
Mako==1.3.2
MarkupSafe==2.1.4
multidict==6.0.4
packaging==23.2
platformdirs==4.2.0
pluggy==1.4.0
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
pytest==8.0.2
pytest-cov==4.1.0
requests==2.31.0
setuptools==69.1.0
SQLAlchemy==2.0.28
touch==2020.12.3
twilio==8.12.0
typing_extensions==4.10.0
urllib3==2.1.0
values==2020.12.3
virtualenv==20.25.0
WebOb==1.8.7
Werkzeug==3.0.1
WTForms==3.1.2
yarl==1.9.4
